@charset "UTF-8";

*{
	padding: opx;
	margin: 0px;
}

li{
	list-style-type: none;
}

.clear{
	clear: both;
}

#page{
	width: 1280px;
	margin: 0 auto;
}

#logo{
	width: 100px;
	height: 30px;
	float: left;
}
#logo img{
	width: 100%;
	height: 100%;
}
#top{
	float: right;
	margin: 20px 20px 0px 0px;
	width: 1280px;
	height: 20px;
	margin:0 auto;
	margin-top: 10px;
}
#top a{
	float: right;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 200;
	font-size: 12px;
	margin: 0px 10px ;
	text-decoration: none;
	color: #222222;
}


nav{
	width: 1280px;
	height: 70px;
	margin: 10px auto;
	position: relative;
}
nav li{
	float: right;
	margin: 0px auto;
	position: inherit;
}

nav li a{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 200;
	font-size: 12px;
	margin: 0px 10px ;
	text-decoration: none;
	color: #222222;
}
.search {
	float: right;
	text-align: left;
	margin-left: 10px;
	height: 25px;
	width: 230px;
	border: 0.1px #cccccc solid;
	background-color: #cccccc20;
	padding: 0px;
	border-radius: 3px;
	display: flex;

}

#searchbar {
	margin: 0px;
	padding: 0px;
	width: 300px;
	height: 24px;
	border: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#pagenav {
	display: flex;
	text-align: center;
	margin-bottom: 50px;
	justify-content: center;
	align-items: baseline;
	align-content: center;
}

#pagination {
	text-align: center;
	align-content: center;
}

section{
	float: left;
	margin: 23px 0px;	
}

footer{
	display: flex;
	height: 350px;
	min-width: 320px;
	-webkit-box-align: center;
	align-items: center;
	background-color: #222222;
}
	
/*배너이미지*/
.banner_img {
	background-color: #cccccc50;
	width: 1280px;
	height: 480px;
	margin: 10px auto;
	position: relative;
}
/*광고*/
.banner_img01 {
	background-color: #cccccc50;
	width: 1280px;
	height: 380px;
	margin: 10px auto;;
	background-color: #cccccc50;
}
img{
	width:100%;
	height:100%;
	float:left;
	margin: 0;
	padding: 0;
}
.banner{
	margin: 0px;
}

/*title*/
.title {
	float: left;
	display: block;
	width: 1380px;
	padding: 0px 20px;
	height: 43px;
	margin: 0;
	margin-top: 10px;
}

#main_title {
	width: 100%;
	height: 24px;
	color: #222222;
	text-align: left;
	font-size: 20px;
	font-family: 'Lora', serif;
	font-weight: 800;
	font-size: 20px;
	margin: 0;
	padding: 0px 20px;
}

#sub_title {
	width: 1200px;
	height: 18px;
	color: #22222280;
	text-align: left;
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
	padding: 0px 20px;
}	

/*상품*/
.productNEW_container {
	width: 1280px;
	height: 770px;
	margin: 0px auto 50px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	align-content: center;
	flex-wrap: wrap;
}

.newItem {
	margin: 5px 5px;
	width: 230px;
	height: 330px;
	border-radius: 10px;
	border: 0.05px #cccccc solid;
}

.productBEST_container {
	width: 1280px;
	height: 770px;
	margin: 0px auto 50px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	align-content: center;
	flex-wrap: wrap;
}

.bestItem {
	margin: 5px 5px;
	width: 230px;
	height: 330px;
	border-radius: 10px;
	border: 0.05px #cccccc solid;
}

.item_img {
	width: 230px;
	height: 230px;
	background-color: #cccccc50;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.item_brand {
	margin-left: 10px;
	width: 282px;
	height: 19px;
	font-size: 14px;
	padding: 9px 0px 0px;
	text-align: left;
}

.item_brand a {
	margin-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	font-weight: 600;
	color: #333333;
}

#name {
	width: 282px;
	height: 17px;
	font-size: 14px;
	margin: 9px 0px 2px 18px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
}

.price {
	margin: 0px 18px;
	padding: 5px 0px 0px;
}

#num {
	margin: 0px;
	padding: 0px;
	width: 282px;
	height: 17px;
	font-size: 15px;
	text-align: left;
	font-family: 'Roboto';
	font-weight: 700;
	text-decoration: none;
}

#p {
	margin: 0px;
	padding: 0px;
	width: 282px;
	height: 13px;
	font-size: 11px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	color: #22222280;
}

/*styleBoard*/
.styleBoard_container {
	width: 1280px;
	height: 245px;
	padding: 0px 28px;
	margin: 10px auto 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
	flex-wrap: wrap;
}

.styleBoard {
	width: 190px;
	height: 245px;
	background-color: #cccccc50;
	border-radius: 10px;
	border: 0.05px #cccccc solid;
}