@charset "utf-8";
/* 리셋 */
.clear{
	clear: both;
}
a{
	list-style-type: none;
}
li{
	list-style-type: none;
}

/* 전체 레이아웃 */
#wrap{
	margin: 0px auto;
	font-family: 'Noto Sans KR', sans-serif;
	color: #222222;
	min-width: 800px;
}
#header{
	height: 80px; 
	min-width: 800px;
	background-color:#ffffff;	
}
#contents{
	overflow: hidden;
	min-height:600px;
	min-width: 800px;

}
#footer{
	height: 200px;
	min-width: 800px;
	background-color: #222222;
}
/* 레이아웃 */
#header-top{
	height: 20px;
	min-width: 800px;
}
#header-bottom{
    height: 68px;
	min-width: 800px;
}
/* 컨테이너 */
.container{
	min-width: 800px;
	width: 1280px; 
	height:inherit; 
	margin: 0px auto; 
	padding:0;
}

/*헤더*/
#header #header-top-menu { text-align: right;
margin-right:20px;}
#header #header-top-menu a{
	text-decoration: none; color: #222222; padding: 10px;
	font-weight: 200;	
	font-size: 12px;
	
}
#header #header-top-menu a:hover {
 font-weight: 400;	
 
}

#nav-search{
  width: 200px;
  height:33px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  background-color: #cccccc10;
  background-image: url('../../img/icon/search02.png');
  background-size: 15px;
  background-position: 10px 7px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-right:20px;
    border: 0.5px solid #cccccc;
  
}

/* Create a top navigation bar with a black background color  */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: overline;
}

/* Create a right-aligned (split) link inside the navigation bar */
.split { 
  float: right;
  position: relative;
  top:12px;
  margin-right: 10px;
} 

.managermode{
	display: none;
}

#logo{
	width:70px;
	height: 23px;
	float: left;
	position: relative;
	top: 4px;
	margin: 0px 20px 0px 40px;
	font-size: 30px;
	font-weight: 900;
}

#footer-textbox{
	font-family: 'Noto Sans KR', sans-serif;
	color: #ffffff;
	font-size: 12px;
	padding-top: 40px;
	padding-left: 50px;
}
#footer-textbox h6{
	padding-top: 10px;
}

.banner_img {
	background-color: #cccccc;
	width: 1280px;
	height: 480px;
	margin: 10px auto;
	position: relative;
}
#banner{
	width: 100%;
	border-top: 1px double #222222;
	border-bottom: 1px double #222222;
}